*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

html {
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    display: block;
}
nav{
    min-height: 6rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
}


.title {
    text-wrap: nowrap;
    padding: 2rem 4rem;
    position: absolute; 
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2;
    /* From https://css.glass */
background: rgba(48, 48, 48, 0.318);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #ffffff;
}
.nav-links li {
    position: relative;
}

.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.join-button, .terry-p button{
    color: #d7d7d7;
    background-color: #373737;
    border: 1.5px solid #727272;
    border-radius: 2em;
    padding: 1rem 1.8rem;
    font-size: 1.7rem;
    cursor: pointer;
}
.join-button:hover, .terry-p button:hover {
    color: #242424;
    background-color: rgb(255, 255, 255);
    border:1.5px solid #1f1f1f;
    transition: all ease-in-out 350ms;
    
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.body-wrapper {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.hamburger{
    display: none;
}
@media screen and (min-width: 40rem) {
    .nav-links {
        justify-content: space-between;
    }
    .wrapper-1 {
        display: flex;
        margin-left: 1rem;
    }

}

@media screen and (min-width: 60rem) {
    .join-button {
        padding: 1.3rem 2.4rem;
    }

    .wrapper-1 {
        margin-left: 4rem;
    }
    .wrapper-2 {
        margin-right: 3rem;
    }

    .terry {
        font-size: 2rem;
        max-width: 80% !important;
    }
    .tp button {
        font-size: 1.8rem !important;
        padding: 1.5rem 2rem !important;
    }



}

@media screen and (min-width: 75rem) {
    .terry {
        padding: 10rem 0rem !important;
        font-size: 2rem;
        max-width: 70% !important;
    }

    .tp button {
        font-size: 2rem !important;
        padding: 1.8rem 3rem !important;
    }
    .terry img, .terry-body div {
        max-width: 40% !important;
    }

    .one {
        background-position: top 30% left 40% !important;  }
         .two {
          background-position: left 30% top 50% !important ;}
      .three {
          background-position: top 30% left 90% !important;} 
      .four {
          background-position: top 50% left 90% !important;}
        .five {
            background-position: top 40% left 50% !important;}



}

@media screen and (min-width: 90rem) {
    .wrapper-1 {
        margin-left: 8rem;
    }
    .wrapper-2 {
        margin-right: 7rem;
    }

}

.terry-title, .terry-p {
    color: rgb(27, 27, 27);
}

@media screen and (min-width: 55rem) {
    


    .terry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 85%;
        padding: 4rem 0rem;
    }

    .terry img, .terry-body div {
        max-width: 45%
    }


    .terry-body {
        display: flex;
        justify-content: space-between;
    }
    .terry-title {
        margin-bottom: 4rem;
    }

    .tp button, .tp {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 55rem) {
    .terry, .terry-body {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .terry {
        padding-bottom: 2rem;
        max-width: 70%;

    }

    .terry-p {
        padding: 3rem 0rem;
    }
    .tp {
        margin-top: -3.5rem;
    }

    .tp button {
        margin-top: 2rem;
    }

    .terry img {
        display: block; 
        max-width: 50%;
        margin-bottom: 2rem;
    }
}

/*Stying for small screens*/
@media screen and (max-width: 40rem){
    .terry {
        max-width: 80%;
    }

    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .logo {
        margin-left: 1rem;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        text-align: center;
        align-items: center;
        font-size: 2rem;
    }
    .nav-links li {
        padding-bottom: 2rem;
    }
    .join-button {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }

    .one {
        background-position: top 50% left 40% !important;  }
         .two {
          background-position: left 30% top 50% !important ;}
      .three {
          background-position: top 50% left 90% !important;} 
      .four {
          background-position: top 50% left 90% !important;}

          .title {
            font-size: 1.6rem;
            padding: 1rem 2rem;
          }


}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



.cont-slider {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    width: auto;
    min-width: 100vw;
    margin: 0 auto;
    overflow: hidden;

}
.slider {
    animation: sliding 25s ease-out 0s backwards infinite;
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%;
}
.slide {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;    
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.slide span {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 5vh 5vh 0;
    color: #FFF;
    position: absolute;
    left: 0;
    top: 40vh;
    font-size: 20vh;
    line-height: 20vh;
    border: 1px solid rgba(255,255,255,.45);
    border-left: 0 none;
}
.one {
  background-image: url("../assets/img/image-1.png")}
.two {
    background-image: url("../assets/img/image-2.png")}
.three {
    background-image: url("../assets/img/image-3.png")}
.four {
    background-image: url("../assets/img/image-4.png")}
.five {
  background-image: url("../assets/img/image.png");}

@keyframes sliding {
  0% {left: 0%; }
  15% {left: 0%; }
  20% {left: -100%; }
  35% {left: -100%; }
  40% {left: -200%; }  
  55% {left: -200%; }
  60% {left: -300%; }
  75% {left: -300%; }
  80% {left: -400%; }
  95% {left: -400%; }   
  100% {left: 0; }
}